modules = ["nodejs-18", "web", "python-3.12"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Frontend Dev Server"

[[workflows.workflow]]
name = "Frontend Dev Server"
author = 43573275
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm start"
